body {
    margin: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#main {
    background: url("../img/otenki-girl/main.png") no-repeat;
    background-size: cover;
    background-attachment: initial;
    margin: 0 auto;
    width: 900px;
    height: 690px;
}

.box {
    background-color: bisque;
    border-radius: 10px;
    position: relative;
    top: 52%;
    left: 64%;
    width: 285px;
    height: 345px;
    padding: 0 20px;
    box-shadow: 0px 0px 5px #555;
    
}


.send_reply_text {
    font-size: 13px;
    margin: 0;
    padding: 0;
}

.open_submit_contain {
    text-align: center;
}

.open_submit {
    width: 120px;
    height: 45px;
    text-align: center;
    background: red;
    border: none;
    border-radius: 20px;
    color: white;
}

.submit {

    width: 170px;
    height: 33px;
    background: red;
    border: none;
    border-radius: 8px;
    padding: 8px 20px;
    margin: 4px 0 0 35px;
}


.submit img {
    width: 18px;
    margin-top: -4px;
    margin-left: -30px;
    margin-right: 90px;
}

submit_text {
    color: white;
    margin-left: -50px;
}

.submit:active {
    background: brown;
}

#input_date {
    width: 90%;
}

#input_reason {
    width: 100%;
}

.replys_main {
    width: 825px;
    margin: 20px auto 10px auto;
    background: bisque;
    border-radius: 10px;
    padding: 1px 20px 10px 20px;
}
.replys {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reply {
    width: 600px;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #777777;
}

.reply_name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.reply_reason {
    margin-top: 8px;
}

.reply_date {
    margin: 8px 0 0 0;
    font-size: 14px;
    color: #777;
}

.page_change {
    display: flex;
    margin: 8px 0 0 0;
    justify-content: center;
}

.page_text {
    margin: 7px 10px 0 10px;
    display: inline-block;
}

.page_change_btn { 
    margin: 0 0 0 8px; 
 } 

.footer {
    text-align: center;
    margin: 24px 0 8px 0;
    font-size: 12px;
}
