@{
    
}
@using otenki_girl.Model
@model List<otenki_girl.Model.AddMessage> 
<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>把晴天送给你-天气之子</title>
    <link rel="shortcut icon"
          href="/static/img/otenki-girl/sun.ico"
          type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="./static/css/otenki.css?version=1.5" />
    <link rel="stylesheet" type="text/css" href="./static/css/ms.css" />
    <link href="~/lib/bootstrap/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
<div id="main">
    <div class="box">
        <div style="font-size:20px; color: red; padding: 15px 0 0 0;">¥0</div>
        <div style="margin: 8px 0 0 0;">
            因下雨而困扰的你，100%的晴天女孩会为你带来阳光😄无论在什么地方...
        </div>
        <div>
            <button type="button" class="submit" onClick="addMessage()">
                <img src="static/img/otenki-girl/shop.png"/>
                <submit_text>提交请求</submit_text>
            </button>
            
        </div>
        <div style="display: flex;margin: 8px 0 0 0;">
            <div>
                <p class="send_reply_text">日期</p>
                <input id="input_date" name="date" type="text"/>
            </div>
            <div>
                <p class="send_reply_text">
                    希望天晴的地址</p>
                    <input id="input_address" name="address" type="text" />
            </div>
        </div>
        <div style="margin: 8px 0 0 0;">
            <p class="send_reply_text">你的名字</p>
            <input id="input_name" name="name" type="text" style="width: 100%;" />
        </div>

        <div style="margin: 8px 0 0 0;">
            <p class="send_reply_text">希望天晴的理由</p>
            <textarea name="reason" id="input_reason"
                      rows="3"
                      cols="20"
                      maxlength="50"></textarea>
        </div>
    </div> 
</div>

<div class="replys_main">
        <h3>大家的委托：</h3>
        <div id="replys" class="replys">

        </div>

        <div class="page_change" >

            <button class="btn btn-default page_change_btn "  onclick="prePage()">
                上一页
            </button>
            <div class="page_text" id="reply_page">第1页 / 共？页</div>
            <button class="btn btn-default page_change_btn" onclick="nextPage()">
                下一页
            </button>
        </div>
    </div>

    <div class="footer">
        欢迎点击<a href="https://github.com/C1oudust/otenki-girl">这里</a>参与修改代码，添加功能
    </div>
    <script src="~/lib/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/static/js/anime.min.js"></script>
    <script src="~/static/js/otenki-girl/main.js"></script>
    <script src="~/lib/bootstrap/bootstrap.min.js"></script>
</body>
</html>
